
<footer id="footer" class="clearfix">
	<div class="search">
	  <form name="searchform" id="searchform">
	    <input type="text" id="search_input" class="search_input st-default-search-input"
	      data-list-highlight="true" data-list-value-completion="true" placeholder="Looking for something?" />
	    <button type="submit" class="search-bar-trigger">
	      <span class="icon icon-search"></span>
	    </button>
	  </form>
	</div>

	<div class="social-wrapper">
		<a class="social github" href="https://github.com/artchen">
		  <span class="icon icon-github"></span>
	  </a>
		<a class="social google" href="https://plus.google.com/+ArtChenOtakism/posts">
		  <span class="icon icon-google"></span>
	  </a>
	  <a class="social rss" href="/feed">
		  <span class="icon icon-rss"></span>
	  </a>
	  <a class="social twitter" href="https://twitter.com/otakism">
		  <span class="icon icon-twitter"></span>
	  </a>
	  <a class="social weibo" href="http://weibo.com/otakism/">
		  <span class="icon icon-sina-weibo"></span>
	  </a>
  </div>
  <div>Theme <span class="codename">Typescript</span> designed by <a href="http://rakugaki.me/" target="_blank">Art Chen</a>.</div>
  <div>&copy; <a href="{{@blog.url}}">{{@blog.title}}</a></div>
  
</footer>

