<header id="header">
	<div class="header-wrapper clearfix">
		<a class="logo" href="{{@blog.url}}">
			<img src="{{asset 'img/logo.png'}}" />
			<span class="desc">otaku keeps alive</span>
		</a>
		<button class="site-nav-switch">
	    <span class="icon icon-menu"></span>
	  </button>
	</div>
	<aside class="site-menu">
		{{navigation}}
	</aside>
</header>
